<ng-container *ngIf="isOpen">
    <form *ngIf="form$ | async as form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="list">
          <ng-container *ngFor="let group of formList$ | async; let index = index">
            <div [formGroupName]="index">
              <input formControlName="name" />
            </div>
          </ng-container>
        </div>
      
        <button type="submit">Submit</button>
      </form>
      
      
</ng-container>

<button (click)="onToggle()">Toggle</button>