.card {
  display: flex;

  width: 140px;
  height: 100%;

  border: 1px solid black;

  margin: 0.3rem;

  flex-direction: column;
}

.header {
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: medium;
    text-align: center;
}

.body {
    color: green;
}