<div
  class="toggle-container"
  [ngClass]="{ selected: isSelected$ | async, disabled: isDisabled$ | async }"
  (click)="onToggle()"
>
  <div class="card">
    <div class="header">
      <ng-container
        *ngTemplateOutlet="cardTitleTemplateRef ?? defaultCardTitleTemplate"
      ></ng-container>
    </div>
    <div class="body">
      <ng-container
        *ngTemplateOutlet="cardBodyTemplateRef ?? defaultCardBodyTemplate"
      ></ng-container>
    </div>
  </div>

  <ng-template #defaultCardTitleTemplate>
    <p>Empty Title</p>
  </ng-template>

  <ng-template #defaultCardBodyTemplate>
    <p>Empty Body</p>
  </ng-template>
</div>
